<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head') %>  

<body class="home">
  <%- include('./partials/header') %>  

    <main class="container">
        <div class="row">
            <section class="productos col-12 col-md-8 col-lg-9">
                <div class="row py-4 px-2">

                  <% productos.forEach(producto => { %>
                    <article class="col-12 col-md-6 col-lg-4">
                      <img src="/images/<%= producto.image %> " alt="" />
                      <h4><%= producto.title %> </h4>
                      <p>
                         <%= producto.description %> 
                      </p>
                      <a href="/products/detail/<%= producto.id %> ">ver más</a>
                  </article>
                  <% }) %>
               
                  
               
            </div>
            </section>
            <aside class="col-12 col-md-4 col-lg-3">
                <section class="tutoriales">
                    <h3>Tutoriales</h3>
                    <% tutoriales.forEach(tutorial => { %>
                      <article>
                        <div class="row">
                            <div class="col-5">
                                <img src="/images/<%= tutorial.image %> " alt="" />
                            </div>
                            <div class="col-7">
                                <p><%= tutorial.title %> </p>
                            </div>
                        </div>
                    </article>                     
                    <% }) %>
                    
                    
                </section>
            </aside>
        </div>
    </main>
    <%- include('./partials/script') %> 
</body>

</html>