<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <body class="productAdd">
        <%- include('./partials/header') %>
            <div class="container">
                <div class="formulario">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="/images/<%= producto.image %> " class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><%= producto.title %></h5>
                          <p class="card-text"><%= producto.description %></p>
                          <h4 class="card-text"><small>$ <%= producto.price %></small></h4>
                        </div>
                      </div>
                    </div>
                    <a href="/" class="btn btn-primary">Volver</a>
                  </div>
                </div>

            </div>



            <%- include('./partials/script') %>
    </body>

</html>