<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<link rel="stylesheet" href="/stylesheets/styles.css">
<body class="productAdd">
    <%- include('./partials/header')  %> 
    <div class="container">
        <div class="formulario mt-5">
            <form action="">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="title">
              </div>
              <div class="mb-3">
                <label for="floatingTextarea">Descripción</label>
                <textarea name="description" class="form-control" id="floatingTextarea" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Precio</label>
                <input type="number" class="form-control" id="formGroupExampleInput2" name="price">
              </div>
              <div class="mb-3">
                <label for="category" class="form-label">Categoría</label>
                <select class="form-select" aria-label="Default select example" name="category">
                  <option value="" selected hidden>Seleccione la categoría</option>
                  <% categorias.forEach(categoria => { %>
                    <option value="<%= categoria %> "><%= categoria %> </option>
                   
                  <% }) %>
                </select>

                <button class="btn btn-primary" type="submit">Guardar</button>


                   
</div>


    <%- include('./partials/script')  %> 
</body>
</html>